mule-module-intacct/src/test/resources/intacct-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:intacct="http://www.mulesoft.org/schema/mule/intacct"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/intacct http://www.mulesoft.org/schema/mule/intacct/3.1/mule-intacct.xsd">

    <!--
        Declare one flow like this one per element you add in your schema.

        See the comment in IntacctNamespaceHandlerTestCase for an example how to send
        Mule events directly to this flow.
   -->
   <intacct:config senderId="12345"/>
   
    <flow name="theFlow">
        <intacct:operation xmlns="http://www.mulesoft.org/schema/mule/intacct">
          <function controlid="#[map-payload:controlid]" >
             <get_list object="glaccount">
              <filter>
               <logical logical_operator="or">
                <logical logical_operator="and">
                 <expression>
                  <field>accountno</field>
                  <operator>&gt;</operator>
                  <value>#[map-payload:accountnoLower]</value>
                 </expression>
                 <expression>
                  <field>normalbalance</field>
                  <operator>=</operator>
                  <value>debit</value>
                 </expression>
                </logical>
                <expression>
                 <field>normalbalance</field>
                 <operator>=</operator>
                 <value>credit</value>
                </expression>
               </logical>
              </filter>
              <sorts>
               <sortfield order="asc">normalbalance</sortfield>
               <sortfield order="asc">title</sortfield>
              </sorts>
              <fields>
               <field>title</field>
               <field>normalbalance</field>
              </fields>
             </get_list>
          </function>
        </intacct:operation>
    </flow>
</mule>
