mule-module-intacct/src/test/resources/intacct-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:intacct="http://www.mulesoft.org/schema/mule/intacct"
      xmlns:util="http://www.springframework.org/schema/util"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/intacct http://www.mulesoft.org/schema/mule/intacct/3.1/mule-intacct.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/3.1/mule-smtp.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd">

    <!--
        Declare one flow like this one per element you add in your schema.

        See the comment in IntacctNamespaceHandlerTestCase for an example how to send
        Mule events directly to this flow.
   -->
   <spring:beans> 
   	<spring:bean id="sysoIntacct" class="org.mule.module.intacct.impl.SystemOutIntacctFacade" />
   </spring:beans>
   
   
   
   <intacct:config senderId="12345" controlPassword="password Control" controlid="mi id" uniqueid="false" userid="usuario" userPassword="miPass" companyid="compId" intacctImplementation-ref="sysoIntacct" />


	 <flow name="requestFlow">
			<intacct:request xmlns="http://www.mulesoft.org/schema/mule/intacct">
				<control>
					<senderid>intacct_dev</senderid>
					<password>babbage</password>
					<controlid>XML Sample</controlid>
				</control>
				<operation>
					<authentication>
						<login>
							<userid>xmluser</userid>
							<companyid>XML Sample</companyid>
							<password>abc123</password>
						</login>
					</authentication>
					<content>
						<function controlid="#[map-payload:controlid]">
							<get-list object="glaccount">
								<filter>
									<logical logical_operator="or">
										<logical logical_operator="and">
											<expression>
												<field>accountno</field>
												<operator>&gt;</operator>
												<value>#[map-payload:accountnoLower]</value>
											</expression>
											<expression>
												<field>normalbalance</field>
												<operator>=</operator>
												<value>debit</value>
											</expression>
										</logical>
										<expression>
											<field>normalbalance</field>
											<operator>=</operator>
											<value>credit</value>
										</expression>
									</logical>
								</filter>
								<sorts>
									<sortfield order="asc">normalbalance</sortfield>
									<sortfield order="asc">title</sortfield>
								</sorts>
								<fields>
									<field>title</field>
									<field>normalbalance</field>
								</fields>
							</get-list>
						</function>
					</content>
				</operation>
			</intacct:request>
	</flow>
	<flow name="functionFlow">
			<intacct:function controlid="#[map-payload:controlid]" xmlns="http://www.mulesoft.org/schema/mule/intacct">
				<get-list object="glaccount">
					<filter>
						<logical logical_operator="or">
							<logical logical_operator="and">
								<expression>
									<field>accountno</field>
									<operator>&gt;</operator>
									<value>#[map-payload:accountnoLower]</value>
								</expression>
								<expression>
									<field>normalbalance</field>
									<operator>=</operator>
									<value>debit</value>
								</expression>
							</logical>
							<expression>
								<field>normalbalance</field>
								<operator>=</operator>
								<value>credit</value>
							</expression>
						</logical>
					</filter>
					<sorts>
						<sortfield order="asc">normalbalance</sortfield>
						<sortfield order="asc">title</sortfield>
					</sorts>
					<fields>
						<field>title</field>
						<field>normalbalance</field>
					</fields>
				</get-list>
			</intacct:function>
	</flow>
	
 	<flow name="getFlow">
 	<intacct:get object="glaccount" key="1000" xmlns="http://www.mulesoft.org/schema/mule/intacct">
    <fields>
        <field>title</field>
        <field>normalbalance</field>
    </fields>
	</intacct:get>
 	
</flow>
	 
	 <flow name="getListFlow">
		<intacct:get-list object="glaccount" xmlns="http://www.mulesoft.org/schema/mule/intacct">
					<filter>
						<logical logical_operator="or">
							<logical logical_operator="and">
								<expression>
									<field>accountno</field>
									<operator>&gt;</operator>
									<value>#[map-payload:accountnoLower]</value>
								</expression>
								<expression>
									<field>normalbalance</field>
									<operator>=</operator>
									<value>debit</value>
								</expression>
							</logical>
							<expression>
								<field>normalbalance</field>
								<operator>=</operator>
								<value>credit</value>
							</expression>
						</logical>
					</filter>
					<sorts>
						<sortfield order="asc">normalbalance</sortfield>
						<sortfield order="asc">title</sortfield>
					</sorts>
					<fields>
						<field>title</field>
						<field>normalbalance</field>
					</fields>
		</intacct:get-list>
	</flow> 
	
	
	<flow name="functionFlowWithExHandling">
			<intacct:function controlid="#[map-payload:controlid]" xmlns="http://www.mulesoft.org/schema/mule/intacct">
				<get-list object="glaccount">
					<filter>
						<logical logical_operator="or">
							<logical logical_operator="and">
								<expression>
									<field>accountno</field>
									<operator>&gt;</operator>
									<value>#[map-payload:accountnoLower]</value>
								</expression>
								<expression>
									<field>normalbalance</field>
									<operator>=</operator>
									<value>debit</value>
								</expression>
							</logical>
							<expression>
								<field>normalbalance</field>
								<operator>=</operator>
								<value>credit</value>
							</expression>
						</logical>
					</filter>
					<sorts>
						<sortfield order="asc">normalbalance</sortfield>
						<sortfield order="asc">title</sortfield>
					</sorts>
					<fields>
						<field>title</field>
						<field>normalbalance</field>
					</fields>
				</get-list>
			</intacct:function>
	</flow>
	
	<flow name="realFunctionFlow">
		<vm:inbound-endpoint path="realFlow" exchange-pattern="request-response"/>
			<intacct:function controlid="#[map-payload:controlid]" xmlns="http://www.mulesoft.org/schema/mule/intacct">
				<get-list object="glaccount">
					<filter>
						<logical logical_operator="or">
							<logical logical_operator="and">
								<expression>
									<field>accountno</field>
									<operator>&gt;</operator>
									<value>#[map-payload:accountnoLower]</value>
								</expression>
								<expression>
									<field>normalbalance</field>
									<operator>=</operator>
									<value>debit</value>
								</expression>
							</logical>
							<expression>
								<field>normalbalance</field>
								<operator>=</operator>
								<value>credit</value>
							</expression>
						</logical>
					</filter>
					<sorts>
						<sortfield order="asc">normalbalance</sortfield>
						<sortfield order="asc">title</sortfield>
					</sorts>
					<fields>
						<field>title</field>
						<field>normalbalance</field>
					</fields>
				</get-list>
			</intacct:function>
		</flow>
		 
</mule>
